<?xml version="1.0" encoding="utf-8"?>
<!-- choco install -y choco.config -->
<packages>
    <!-- Development -->
    <package id="git"/>
    <package id="nodejs"/>
    <package id="docker-desktop"/>
    <package id="visualstudio2019enterprise"/>
    <package id="visualstudio2019-workload-azure"/>
    <package id="visualstudio2019-workload-manageddesktop"/>
    <package id="visualstudio2019-workload-netcoretools"/>
    <package id="visualstudio2019-workload-netweb"/>
    <package id="resharper"/>
    <package id="visualstudiocode"/>
    <package id="dotnetcore-sdk"/>
    <package id="azure-functions-core-tools"/>

    <!-- Dev utilities -->
    <package id="sysinternals"/>
    <package id="7zip"/>
    <package id="foxitreader"/>
    <package id="googlechrome"/>
    <package id="postman"/>
    <package id="linqpad"/>
    <package id="paint.net"/>
    <package id="synergy"/>
    <package id="nuget.commandline"/>
    <package id="dotpeek"/>
    <package id="poshgit"/>
    
    <!-- Personal utilities -->
    <package id="passwordsafe"/>
    <package id="gnucash"/>
    <package id="dropbox"/>
    <package id="camtasia"/>
    <package id="veracrypt"/>
    <!-- TODO: AxCrypt v1, MS Office, SwordSearcher, CrashPlan Pro (the version in choco is too old) -->

    <package id="makemkv"/>
    <package id="eac"/>
    <package id="mpc-hc"/>
    <package id="handbrake"/>
    <package id="mkvtoolnix"/>
    <package id="mp3tag"/>
    <package id="ffmpeg"/>
    <!-- TODO: tsmuxer -->

    <package id="edgedeflector"/>
</packages>